<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Index</title>
</head>
<body>
<div th:replace="fragments/header :: menu" />
<h1>Список типов оборудования</h1>
<div th:each="cat : ${categories}" class="item">
    <div class="itemHeader">
        <div class="itemTitle">
            <a class="action" href="#" th:text="${cat.name}" th:href="@{/categories/edit/{catId}(catId=${cat.id})}">name</a>
        </div>
        <div class="itemMenu">
            <a class="action" th:onclick="|confirmDelete('${cat.name}', '@{/categories/delete/{catId}(catId=${cat.id})}')|">
                удалить
            </a>
        </div>
    </div>
    <div class="itemBody">
        <p th:text="${cat.description}">description</p>
    </div>
</div>
<div class="buttons">
    <a class="button" href="#" th:href="@{/categories/new}">Добавить категорию</a>
</div>
</body>
</html>