<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Index</title>
</head>
<body>
<div th:replace="fragments/header :: menu"/>
<h1>Смена пароля</h1>
<form action="#" th:action="@{/changepassword}" th:object="${changePassword}" method="post">
    <div class="form">
        <div class="errorMessage" th:if="${error}" th:text="${errorText}">
            Что-то пошло не так!
        </div>
        <div>
            <p>
                <label for="oldPassword">Старый пароль</label><br/>
                <input class="form" th:field="*{oldPassword}" type="password" id="oldPassword" name="oldPassword"
                       autofocus="autofocus"/>
            </p>
            <p>
                <label for="newPassword">Новый пароль</label><br/>
                <input class="form" th:field="*{newPassword}" type="password" id="newPassword" name="newPassword"/>
                <span class="error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Ошибки для поля "Новый пароль"</span>
            </p>
            <p>
                <label for="confirmPassword">Подтверждение</label><br/>
                <input class="form" th:field="*{confirmPassword}" type="password" id="confirmPassword"
                       name="confirmPassword"/>
                <span class="error" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Ошибки для поля "Подтверждение пароля"</span>
            </p>
        </div>
        <div class="buttons">
            <input type="submit" value="Сменить пароль"/>
            <a class="button" href="#" th:href="@{/index}">Отменить</a>
        </div>
    </div>
</form>
</body>
</html>