<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Index</title>
</head>
<body>
<div th:replace="fragments/header :: menu"/>
<h1>Список оборудования</h1>
<div th:each="eqp : ${equipment}" class="item">
    <div class="itemHeader">
        <div class="itemTitle">
            <a class="action" href="#" th:text="${eqp.inventory}" th:href="@{/equipment/edit/{eqpId}(eqpId=${eqp.id})}">name</a>
        </div>
        <div class="itemMenu">
            <a class="action"
               th:onclick="|confirmDelete('${eqp.inventory}', '@{/equipment/delete/{eqpId}(eqpId=${eqp.id})}')|">
                удалить
            </a>
        </div>
    </div>
    <div class="itemBody">
        <p th:text=" 'Тип: ' + ${eqp.category.name}"></p>
        <p th:text=" 'Производитель: ' + ${eqp.vendor.name}"></p>
        <p th:text=" 'Модель: ' + ${eqp.model}"></p>
        <p th:text=" 'Серийный №: ' + ${eqp.serial}"></p>
        <p th:text=" 'Исправно: ' + ${eqp.equipmentDamaged}"></p>
        <p th:text=" 'Владелец: ' + ${eqp.person.shortName}"></p>
        <p th:text=" 'Описание: ' + ${eqp.description}"></p>
    </div>
</div>
<div class="buttons">
    <a class="button" href="#" th:href="@{/equipment/new}">Добавить</a>
</div>
</body>
</html>