<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Index</title>
</head>
<body>
<h1>Выполните вход</h1>
<form action="#" th:action="@{/login}" method="post">
    <div class="form">
        <div class="errorMessage" th:if="${loginError}">
            Неправильное имя пользователя или пароль
        </div>
        <div>
            <p>
                <label for="username">Логин</label><br/>
                <input class="form" type="text" id="username" name="username" autofocus="autofocus"/>
            </p>
            <p>
                <label for="password">Пароль</label><br/>
                <input class="form" type="password" id="password" name="password"/>
            </p>
        </div>
        <div class="buttons">
            <input type="submit" value="Вход"/>
        </div>
    </div>
</form>
</body>
</html>